# Игнорируем ядро Битрикс и служебные папки
/bitrix/
/upload/
/bitrix/*
!/bitrix/php_interface/
!/bitrix/templates/
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php

# Папка /local — должна быть в репозитории (если она есть)
!/local/

# Временные файлы
*.log
*.bak
.DS_Store