<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Политехническое Общество Выпускников</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/fancybox.css">
	<!-- style -->
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-wrapper">
				<a href="index.html" class="header-wrapper__logo desk-none">
					<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
				</a>
				<button class="header-wrapper__burger" aria-label="Открыть меню">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="header-wrapper__menu-mobile">
					<a href="index.html" class="header-wrapper__logo desk-block">
						<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
					</a>
					<nav>
						<ul class="header-wrapper__list">
							<li class="header-wrapper__item">
								<a href="index.html" target="_blank">
									Главная
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="initiatives.html" target="_blank">
									Инициативы
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="projects.html" target="_blank">
									Проекты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="news-page.html" target="_blank">
									События
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="about.html" target="_blank">
									О нас
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="contacts.html" target="_blank">
									Контакты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="reference.html" target="_blank">
									Референс-визиты
								</a>
							</li>
						</ul>
					</nav>
					<div class="header-wrapper__buttons">
						<a href="subscriptions.html" target="_blank" class="btn header-wrapper__btn header-wrapper--join">Вступить</a>
						<!-- <button class="btn header-wrapper__btn header-wrapper__btn--sign btn-empty" data-fancybox data-src="#form-login">Войти</button> -->
					</div>
				</div>				
			</div>
		</div>
	</header>
	<main>
        <!-- banner-other -->
		<section class="banner-other">
            <div class="container">
                <div class="banner-other__wrapper">
                    <div class="banner-other__content">
                        <div class="banner-other__info">
                            <h1 class="banner-other__title main-title">
                               Витрина компетенций МВТУ (МГТУ) им. Н.Э. Баумана
                            </h1>
                            <a href="#" class="banner-other__btn btn" data-fancybox data-src="#form-reference-visits">Стать партнёром</a>
                        </div>
                        <img src="img/reference-page/banner-other-pattern.png" alt="" class="banner-other__pattern">
                    </div>
                    <img src="img/competencies-img.png" alt="" class="banner-other__image">
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.banner-other -->
        
        <section class="competencies">
            <div class="container">
                <div class="competencies__tabs">
                    <ul class="competencies__navs">
                        <li class="main-tabs-click main-tabs-click--active" data-tab="competencies__univer">
                            Компетенции университета
                        </li>
                        <li class="main-tabs-click" data-tab="competencies__student">
                            Студенческие конструкторские бюро
                        </li>
                        <li class="main-tabs-click" data-tab="competencies__partner">
                            Компетенции партнеров 
                        </li>
                    </ul>
                </div>
                <div class="competencies__content">
                    <div class="competencies__item main-tabs-pane main-tabs-pane--active" data-tab="competencies__univer">
                        <div class="competencies__list">
                            <div class="competencies__card">
                                <img src="img/competencies-img-1.png" alt="" class="competencies__card-image">
                                <div class="competencies__card-tags">
                                    <div>#ракетостроение</div>
                                    <div>#космические_аппараты</div>
                                    <div>#системный_анализ</div>
                                    <div>#газодинамика</div>
                                    <div>#прочность</div>
                                </div>
                                <p class="competencies__card-subtext main-text">
                                    Защита данных и цифровых систем, участие в кибербезопасности.
                                </p>
                                <h2 class="competencies__card-title">
                                    НОЦ «Перспективные исследования в ракетно-космической технике» (ПИРТ)
                                </h2>
                                <p class="main-text competencies__card-text">
                                    Центр занимается комплексными научными исследованиями и разработками в области проектирования перспективных образцов ракетно-космической техники. 
                                </p>
                                <a href="#" class="competencies__card-link">Скачать подробное описание в PDF</a>
                                <div class="competencies__card-overlay">
                                    <h3>
                                        Компетенции
                                    </h3>
                                    <ul>
                                        <li>
                                            Системное проектирование ракетно-космических комплексов;
                                        </li>
                                        <li>
                                            Газодинамические и тепловые расчёты двигательных установок;
                                        </li>
                                        <li>
                                            Прочностной анализ конструкций летательных аппаратов;
                                        </li>
                                        <li>
                                            Баллистическое проектирование и оптимизация траекторий;
                                        </li>
                                        <li>
                                            Создание математических моделей динамики полёта.
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn" data-fancybox data-src="#form-competencies">Отправить запрос</button>
                            </div>
                            <div class="competencies__card">
                                <img src="img/competencies-img-1.png" alt="" class="competencies__card-image">
                                <div class="competencies__card-tags">
                                    <div>#ракетостроение</div>
                                    <div>#космические_аппараты</div>
                                    <div>#системный_анализ</div>
                                    <div>#газодинамика</div>
                                    <div>#прочность</div>
                                </div>
                                <p class="competencies__card-subtext main-text">
                                    Защита данных и цифровых систем, участие в кибербезопасности.
                                </p>
                                <h2 class="competencies__card-title">
                                    НОЦ «Перспективные исследования в ракетно-космической технике» (ПИРТ)
                                </h2>
                                <p class="main-text competencies__card-text">
                                    Центр занимается комплексными научными исследованиями и разработками в области проектирования перспективных образцов ракетно-космической техники. 
                                </p>
                                <a href="#" class="competencies__card-link">Скачать подробное описание в PDF</a>
                                <div class="competencies__card-overlay">
                                    <h3>
                                        Компетенции
                                    </h3>
                                    <ul>
                                        <li>
                                            Системное проектирование ракетно-космических комплексов;
                                        </li>
                                        <li>
                                            Газодинамические и тепловые расчёты двигательных установок;
                                        </li>
                                        <li>
                                            Прочностной анализ конструкций летательных аппаратов;
                                        </li>
                                        <li>
                                            Баллистическое проектирование и оптимизация траекторий;
                                        </li>
                                        <li>
                                            Создание математических моделей динамики полёта.
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn" data-fancybox data-src="#form-competencies">Отправить запрос</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
	</main>
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<a href="mailto:info@bauman-polytech.ru" class="footer-mail">
				info@bauman-polytech.ru
			</a>
			<a href="#" class="footer-address">
				Москва, Бригадирский переулок, 13, 4 этаж, каб. 407
			</a>
			<p class="footer-name">
				Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
			</p>
			<ul class="footer-social">
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="52" height="52" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0.422184 29.988 10.5558 42 28.3222 42H29.3293V30.5645C35.8577 31.2052 40.7943 35.9139 42.7755 42H52C49.4666 32.9029 42.8079 27.8738 38.6505 25.9519C42.8079 23.5816 48.6543 17.8158 50.0509 10H41.6709C39.8521 16.3424 34.461 22.1081 29.3293 22.6526V10H20.9492V32.1661C15.7525 30.8849 9.19171 24.6707 8.89939 10H0Z" fill="black"/>
						</svg>
					</a>
				</li>
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_545_277)">
							<rect width="52" height="52" fill="white"/>
							<path d="M41.0367 15.4964L16.0377 29.2649C15.7715 29.4115 15.4679 29.4759 15.1651 29.4502L4.5008 28.5433C2.8828 28.4057 2.55392 26.1804 4.06293 25.5807L45.7164 9.02524C46.8393 8.57892 48.0148 9.542 47.7981 10.7308L41.9617 42.7517C41.7668 43.8211 40.5544 44.3566 39.6326 43.7803L24.0656 34.0479C23.2092 33.5126 23.0922 32.3114 23.8292 31.6208L41.0367 15.4964Z" fill="black"/>
							</g>
							<defs>
							<clipPath id="clip0_545_277">
							<rect width="52" height="52" fill="white"/>
							</clipPath>
							</defs>
						</svg>
					</a>
				</li>
			</ul>
			<div class="footer-list">
				<a href="#" target="_blank">
					Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
				</a>
				<a href="#" target="_blank">
					Политика обработки персональных данных
				</a>
				<a href="#" target="_blank">
					Согласие на обработку персональных данных
				</a>
			</div>
		</div>
	</footer>
		
	<div class="form-competencies" id="form-competencies" style="display:none;max-width:1400px;">
		<div class="join__wrapper">
            <h2 class="account__title main-title">Запрос в Витрине компетенций</h2>
            <div class="account__personal">
                <div class="account__chapter">
                    <h3 class="account__subtitle">
                        Данные представителя
                    </h3>
                </div>
                <div class="account__personal-list account__grid account__personal-list--short">
                    <input type="text" placeholder="Фамилия">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Отчество">
                    <input type="email" placeholder="Електропочта">
                    <input type="text" placeholder="Телефон">
                    <input type="text" placeholder="Сайт">
                </div>
            </div>
            <div class="account__personal">
                <div class="account__chapter">
                    <h3 class="account__subtitle">
                        Данные о компании
                    </h3>
                </div>
                <div class="account__personal-list account__grid--range">
                    <input type="text" placeholder=" Компания">
                    <input type="text" placeholder="Род деятельности">
                    <textarea name="" placeholder="Описание потребности"></textarea>
                    
                </div>
            </div>
            <div class="account__file">
                <div class="account__file-info">
                    <div class="account__file-content account__photo-content">
                        <label class="account__photo-upload">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                                <path d="M11.2871 0.5L15.5 4.88281V19.5H0.5V0.5H11.2871Z" stroke="black"/>
                            </svg>
                            Перетащите или <span>загрузите файл</span> PDF
                            <input type="file" class="account__photo-input" accept="image/png, image/jpeg">
                        </label>
                    </div>
                </div>                            
            </div>
            <button class="btn">Отправить</button>
        </div>
	</div>

<div class="form-reference-visits" id="form-reference-visits" style="display:none;">
		<div class="join__wrapper">
			<h2 class="account__title main-title">Заявка на организацию референс-визита</h2>
			<div class="account__personal">
				<div class="account__chapter">
					<h3 class="account__subtitle">
						Данные о компании
					</h3>
				</div>
				<div class="account__personal-list account__personal-list--form">
					<input type="text" placeholder=" Компания">
					<input type="text" placeholder="Чем занимается компания?">
					<input type="text" placeholder="Что хотите показать?">
					<input type="text" placeholder="Для какой аудитории?">
					
				</div>
			</div>
			<div class="account__personal">
				<div class="account__chapter">
					<h3 class="account__subtitle">
						Образование
					</h3>
				</div>
				<div class="account__personal-list account__personal-list account__grid">
					<input type="text" placeholder="Фамилия">
					<input type="text" placeholder="Имя">
					<input type="text" placeholder="Отчество">
					<input type="tel" placeholder="Номер телефона">
					<input type="email" placeholder="Електропочта">
					<input type="text" placeholder="Сайт">
				</div>
			</div>
			
			<div class="join__politic">
				<div class="join__politic-question">
					<p class="join__politic-link">
						Согласен с <a href="#">политикой обработки ПДн</a>
					</p>
					<div class="account__graduate-choice">
						<label class="account__graduate-item">
							<input type="radio" name="subscribe" value="yes" class="account__graduate-input">
							<span class="account__graduate-box"></span>
							Да
						</label>

						<label class="account__graduate-item">
							<input type="radio" name="subscribe" value="no" class="account__graduate-input">
							<span class="account__graduate-box"></span>
							Нет
						</label>
					</div>
				</div>                        
			</div>
			<button class="btn authorization__btn">Отправить</button>
		</div>
	</div>

	<div class="form-login" id="form-login" style="display:none;max-width:500px;">
		<input type="email" placeholder="Електропочта" required>
		<input type="password" placeholder="Пароль" required>
		<div class="form-login__row">
			<label class="checkbox-container">
				<input type="checkbox" id="rememberMe">
				<span class="checkmark"></span>
				Запомнить меня
			</label>
			<button class="form-login__lost">Я забыл пароль</button>
		</div>
		<div class="form-login__buttons">
			<button class="btn form-login__btn form-login__btn--sign">Войти</button>
			<button class="btn form-login__btn form-login__btn--register btn-empty">Зарегистрироваться</button>
		</div>
	</div>

    <!-- form-membership -->
	<div class="form-membership" id="form-membership" style="display:none;max-width: 90%;">
		<div class="form-membership__left">
			<img src="img/form-membership-basic.png" alt="">
			<p class="form-membership__text desk-block">
				Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
			</p> 
		</div>
		<form action="" class="form-membership__form">
			<input type="text" placeholder="Фамилия" required>
			<input type="text" placeholder="Имя" required>
			<input type="text" placeholder="Отчество" required>
			<input type="number" placeholder="Номер телефона" required>
			<input type="email" placeholder="Електропочта" required>
			<select name="Department" id="">
				<option value="">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
			</select>
			<input class="form-membership__year" type="text" placeholder="Год окончания МГТУ им. Баумана" required>
			<button class="btn form-membership__send">Оплатить членский взнос</button>
		</form>
		<p class="form-membership__text desk-none">
			Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
		</p> 
	</div>


	<script src="js/swiper-bundle.min.js"></script>
	<script src="js/fancybox.umd.js"></script>
	<script src="js/script.js"></script>
</body>
</html>