<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Политехническое Общество Выпускников</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/fancybox.css">
	<!-- style -->
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-wrapper">
				<a href="index.html" class="header-wrapper__logo desk-none">
					<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
				</a>
				<button class="header-wrapper__burger" aria-label="Открыть меню">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="header-wrapper__menu-mobile">
					<a href="index.html" class="header-wrapper__logo desk-block">
						<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
					</a>
					<nav>
						<ul class="header-wrapper__list">
							<li class="header-wrapper__item">
								<a href="index.html" target="_blank">
									Главная
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="support.html" target="_blank">
									Поддержать
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="projects.html" target="_blank">
									Проекты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="news-page.html" target="_blank">
									События
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="about.html" target="_blank">
									О нас
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="contacts.html" target="_blank">
									Контакты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="reference.html" target="_blank">
									Референс-визиты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="resume-form.html" target="_blank">
									Карьерная платформа
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="competencies.html" target="_blank">
									Витрина компетенций
								</a>
							</li>
						</ul>
					</nav>
					<div class="header-wrapper__buttons">
						<a href="subscriptions.html" target="_blank" class="btn header-wrapper__btn header-wrapper--join">Вступить</a>
						<button class="btn header-wrapper__btn header-wrapper__btn--sign btn-empty" data-fancybox data-src="#form-login">Войти</button>
					</div>
				</div>				
			</div>
		</div>
	</header>
	<main>
		<div class="site-wrapper">
		<!-- banner-main -->
		<section class="banner-main">
				<div class="banner-main__wrapper">
					<div class="banner-main__content">
						<h1 class="banner-main__title">
							Политехническое Общество Выпускников
						</h1>
						<p class="banner-main__subtitle">
							МВТУ (МГТУ) им. Н.Э. Баумана
						</p>
					</div>
					<!-- /.banner-main__content -->
					<img src="img/banner-main.jpg" alt="" class="banner-main__image desk-block" >
					<img src="img/banner-main-mob.jpg" alt="" class="banner-main__image desk-none" >
					<p class="banner-main__text">
						Сохраняем связь выпускников способствуем успехам технических наук и промышленности.
					</p>
				</div>
				<!-- /.banner-main-wrapper -->
		</section>
		<!-- /.banner-main -->
		<!-- society -->
		<section class="society">
			<div class="container">
				<div class="society__wrapper">
					<div class="society__discription">
						<h2 class="society__title main-title">
							Об обществе выпускников
						</h2>
						<p class="society__text main-text">
							Мы помогаем выпускникам расти и строить карьеру. Даём площадку для общения и обмена опытом. Создаём сообщество, частью которого&nbsp;престижно быть.
						</p>
					</div>
					<div class="society__slider swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide society__flex">
								<div class="society__item">
									<h3>
										Развитие
									</h3>
									<p>
										Каждый год выпускаем 5000 специалистов. <br> Выпускники повышают престиж&nbsp;Бауманки и вносят вклад в жизнь общества.
									</p>
									<img src="img/society-icon-1.png" alt="" >
								</div>
								<div class="society__item">
									<h3>
										Поддержка
									</h3>
									<p>
										Мы готовы помочь советом, ресурсами и связями на всех этапах карьеры.
									</p>
									<img src="img/society-icon-2.png" alt="" >
								</div>
								<div class="society__item">
									<h3>
										Цель
									</h3>
									<p>
										Объединяем усилия для решения амбициозных задач, повышение престижа профессии, развития родного Университета.
									</p>
									<img src="img/society-icon-3.png" alt="" >
								</div>
							</div>
							<div class="swiper-slide society__flex">
								<div class="society__item">
									<h3>
										Обмен <br>опытом
									</h3>
									<p>
										Задавайте вопросы и делитесь своими успехами — знания и опыт бауманцев бесценны.
									</p>
									<img src="img/society-icon-4.png" alt="" >
								</div>
								<div class="society__item">
									<h3>
										Научный <br>суверенитет
									</h3>
									<p>
										Поддерживаем отечественные технологии и инновации, укрепляя будущее России.
									</p>
									<img src="img/society-icon-5.png" alt="" >
								</div>
								<div class="society__item">
									<h3>
										Активность
									</h3>
									<p>
										Создаём проекты, мероприятия и инициативы — вклад каждого важен
									</p>
									<img src="img/society-icon-6.png" alt="" >
								</div>
							</div>
							
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /.society -->
		<!-- opportunities -->
		<section class="opportunities">
			<div class="container">
				<div class="opportunities__wrapper">
					<div class="opportunities__missions">
						<h3>
							Миссия
						</h3>
						<p>
							Поддерживать связь выпускников МГТУ им. Н.Э. Баумана, содействовать развитию технического образования, науки и промышленности Российской федерации.
						</p>
					</div>
					<div class="opportunities__target">
						<h3>
							Цели
						</h3>
						<h4>
							Повышение престижа
						</h4>
						<p>
							Повышать престиж инженерных специальностей.
						</p>
						<h4>
							Развитие науки и промышленности
						</h4>
						<p>
							Способствовать научно-техническому прогрессу, ориентированному на потребности российской промышленности.
						</p>
						<h4>
							Практическая подготовка кадров
						</h4>
						<p>
							Сокращать разрыв между учебными программами и требованиями современной индустрии к инженерам.
						</p>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /.opportunities -->
		 <section class="boards">
			<div class="container">
				<div class="boards__wrapper">
					<h2 class="main-title">
						Члены правления Политехнического общества
					</h2>
					<div class="boards__list">
						<div class="boards__item" data-fancybox data-src="#board-modal-1">
							<img src="img/board-img-1.png" alt="Абакумов Евгений" class="boards__item-image">
							<h3 class="boards__item-title">
								Абакумов Евгений
							</h3>
							<p class="boards__item-text">
								Директор по информационным технологиям госкорпорации «Росатом»
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-2">
							<img src="img/board-img-2.png" alt="Нагайцев Максим" class="boards__item-image">
							<h3 class="boards__item-title">
								Нагайцев Максим
							</h3>
							<p class="boards__item-text">
								Доктор технических наук
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-3">
							<img src="img/board-img-3.png" alt="Гордин Михаил" class="boards__item-image">
							<h3 class="boards__item-title">
								Гордин Михаил
							</h3>
							<p class="boards__item-text">
								Ректор МГТУ им. Н.Э. Баумана Кандидат технических наук «Росатом»
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-4">
							<img src="img/board-img-4.png" alt="Кондратьев Андрей" class="boards__item-image">
							<h3 class="boards__item-title">
								Кондратьев Андрей
							</h3>
							<p class="boards__item-text">
								Генеральный директор АО «РТ-ФИНАНС», председатель совета директоров НОВИКОМа
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-5">
							<img src="img/board-img-5.png" alt="Майоров Игорь " class="boards__item-image">
							<h3 class="boards__item-title">
								Майоров Игорь
							</h3>
							<p class="boards__item-text">
								Генеральный директор METEOR Lift
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-6">
							<img src="img/board-img-6.png" alt="" class="boards__item-image">
							<h3 class="boards__item-title">
								Фетисов Алексей
							</h3>
							<p class="boards__item-text">
								Генеральный директор Холдинга Т1
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-7">
							<img src="img/board-img-7.png" alt="Федоров Алексей" class="boards__item-image">
							<h3 class="boards__item-title">
								Федоров Алексей
							</h3>
							<p class="boards__item-text">
								Вице-Президент «Газпромбанк»
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-8">
							<img src="img/board-img-8.png" alt="Шелобков Алексей" class="boards__item-image">
							<h3 class="boards__item-title">
								Шелобков Алексей
							</h3>
							<p class="boards__item-text">
								Генеральный директор ООО «Бюро 1440»
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-9">
							<img src="img/board-img-9.png" alt="Дабагов Анатолий" class="boards__item-image">
							<h3 class="boards__item-title">
								Дабагов Анатолий
							</h3>
							<p class="boards__item-text">
								Кандидат технических наук, президент МТЛ
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-10">
							<img src="img/board-img-10.png" alt="Краснов Дмитрий " class="boards__item-image">
							<h3 class="boards__item-title">
								Краснов Дмитрий
							</h3>
							<p class="boards__item-text">
								Кандидат технических наук, Председатель Правления Промышленной Группы «Приводная Техника»
							</p>
						</div>
						<div class="boards__item" data-fancybox data-src="#board-modal-11">
							<img src="img/board-img-11.png" alt="Пивень Валерий " class="boards__item-image">
							<h3 class="boards__item-title">
								Пивень Валерий
							</h3>
							<p class="boards__item-text">
								Директор департамента станкостроения и тяжелого машиностроения
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container -->
		 </section>
		 <!-- /.boards -->
		<!-- initiative -->
		<section class="initiative">
		 <div class="container">
		 	<div class="initiative__wrapper">
		 		<div class="initiative__info">
		 			<h2 class="main-title">
		 				Проекты сообщества
		 			</h2>
		 			<p class="main-text">
		 				Наши резиденты запустили важные проекты Политеха. Станьте частью братства и используйте все возможности сообщества.
		 			</p>
		 			<div class="initiative__buttons">
		 				<a href="/projects/" class="btn btn-empty">Все проекты</a>
		 				<a href="/support/" class="btn">Поддержать</a>
		 			</div>
		 		</div>
		 		<a href="/projects/politech-expo/" class="initiative__card">
		 			<h3>
		 				Конференция PolytechExpo
		 			</h3>
		 			<img src="img/initiative-img-1.png" alt="" class="initiative__image desk-block" />
		 			<img src="img/initiative-img-mob-1.png" alt="" class="initiative__image desk-none" />
		 		</a>
		 		<a href="/projects/conference/" class="initiative__card">
		 			<h3>
		 				Конференция Встреча выпускников
		 			</h3>
		 			<img src="img/initiative-img-2.png" alt="" class="initiative__image desk-block" />
		 			<img src="img/initiative-img-mob-2.png" alt="" class="initiative__image desk-none" />
		 		</a>
		 		<a href="/projects/trustees/" class="initiative__card">
		 			<h3>
		 				Попечительский совет
		 			</h3>
		 			<img src="img/initiative-img-3.png" alt="" class="initiative__image desk-block" />
		 			<img src="img/initiative-img-mob-3.png" alt="" class="initiative__image desk-none" />
		 		</a>
		 		<a href="/projects/restoration/" class="initiative__card">
		 			<h3>
		 				Реставрации Ротонды
		 			</h3>
		 			<img src="img/initiative-img-4.png" alt="" class="initiative__image desk-block" />
		 			<img src="img/initiative-img-mob-4.png" alt="" class="initiative__image desk-none" />
		 		</a>
		 	</div>
		 </div>
		 <!-- /.container -->
		</section>
		<!-- /.initiative -->
		<!-- history -->
		<section class="history">
			<div class="container">
				<h2 class="main-title history__title">
					С 19 века создаем сеть поддержки и обеспечиваем стабильность и рост общества
				</h2>
				<div class="history__scroll">
					<div class="history__size">
						<img src="img/line.png" alt="">
						<div class="history__list">
							<div class="history__item">
								<h3>1874</h3>
								<p>Ходатайство об учреждении при ИМТУ Общества учёных-техников</p>
							</div>
							<div class="history__item">
								<h3>1877</h3>
								<p>Первый устав общества утверждён императором Александром II</p>
							</div>
							<div class="history__item">
								<h3>1905</h3>
								<p>«Вестник Политехнического Общества»</p>
							</div>
							<div class="history__item">
								<h3>1907</h3>
								<p>Первое собрание членов в собственном доме</p>
							</div>
							<div class="history__item">
								<h3>1991</h3>
								<p>Зарегистрирована общественная организация <br>«МВТУ-Политех»</p>
							</div>
							<div class="history__item">
								<h3>2024</h3>
								<p>Перезапуск <br> общества</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /.history -->
		<!-- culture -->
		<section class="culture">
			<div class="container">
				<h2 class="main-title culture__title">
					Мы — Политехническое общество выпускников МВТУ (МГТУ) им. Н.Э. Баумана
				</h2>
				<p class="main-text culture__text">
					Резиденты сами формируют культуру мощного сообщества с широкими возможностями
				</p>
				<div class="culture__wrapper">
					<div class="culture__card culture__card--big">
						<div class="culture__card-overlay">
							<h3>
								Более 20 мероприятий ежегодно
							</h3>
							<ul class="culture__list">
								<li class="culture__item">
									Ежегодная встреча «Сила сообщества»
								</li>
								<li class="culture__item">
									Карта возможностей
								</li>
								<li class="culture__item">
									Конференции (встречи с экспертами, мастер-классы, тренинги) 
								</li>
								<li class="culture__item">
									Референс-визиты на предприятия
								</li>
								<li class="culture__item">
									Мастермайнды
								</li>
								<li class="culture__item">
									Клубы по интересам
								</li>
							</ul>
						</div>
                        <img src="img/culture-bg-card.png" alt="" class="culture__card-image desk-block">
					</div>
					<div class="culture__box">
						<div class="culture__card">
							<h3>
								Около 200 000 выпускников
							</h3>
							<p>
								За 185 лет существования университета
							</p>
						</div>
						<div class="culture__card">
							<h3>
								Более 40 академиков
							</h3>
							<p>
								РАН и других академий
							</p>
						</div>
						<div class="culture__card">
							<h3>
								Более 100 лауреатов
							</h3>
							<p>
								Ленинской, Государственной, других престижных премий
							</p>
						</div>
						<div class="culture__card">
							<h3>
								Представители во всех областях
							</h3>
							<p>
								промышленности России
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /.culture -->
		<!-- new-project -->
		<section class="new-project">
			<div class="container">
				<h2 class="main-title new-project__title">
					Новые проекты и возможности
				</h2>
				<p class="main-text new-project__text">
					Выпускники играют ключевую роль в формировании репутации и будущего университета.
				</p>
				
				<div class="new-project__slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide new-project__item">
							<div class="new-project__card">
								<h3>
									Карьерная платформа
								</h3>
								<p>
									Встречи с представителями индустрии
								</p>
							</div>
							<div class="new-project__card">
								<h3>
									Витрина компетенций
								</h3>
								<p>
									Практика на основе исследований
								</p>
							</div>
							<a href="about.html#history" class="new-project__card new-project__card--different">
								<img src="img/new-project-bg.png" alt="">
								<h3>
									История и крепкое сообщество
								</h3>
							</a>
						</div>
						
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /.new-project -->
		<div class="new-project__buttons container" style="margin-bottom: var(--section-margin);">
			<a href="projects.html" class="btn btn-empty">Все проекты</a>
			<a href="support.html" class="btn">Поддержать</a>
		</div>
		<!-- membership -->
		<section class="membership">
			<div class="container">
				<h2 class="main-title membership__title">
					Виды членства
				</h2>
				<p class="main-text membership__text">
					В зависимости от варианта участия резиденты получают определённые возможности и преференции, приведённые в таблице ниже.
				</p>
				<button class="membership__link">Подробнее</button>
				<div class="membership-slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide membership-slider__card">
							<h3 class="membership-slider__title">
								Базовое
							</h3>
							<p class="membership-slider__time">
								ежегодно
							</p>
							<ul class="membership-slider__list">
								<li class="membership-slider__item">
									Возможность размещения резюме на карьерной платформе Политехнического общества;
								</li>
								<li class="membership-slider__item">
									Доступ в закрытый карьерный канал с вакансиями от профильных компаний;
								</li>
								<li class="membership-slider__item">
									Участие в активностях, выставках и мероприятиях Политехнического общества;
								</li>
								<li class="membership-slider__item">
									Доступ в электронную библиотеку МГТУ (в разработке);
								</li>
								<li class="membership-slider__item">
									Доступ к витрине компетенций партнёров Политехнического общества, кафедр, студенческих конструкторских бюро и научно-образовательных центров МГТУ.
								</li>
							</ul>
							<button class="membership-slider__join btn btn-empty" data-fancybox data-src="#form-membership">Вступить</button>
						</div>
						<div class="swiper-slide membership-slider__card membership-slider__card--proffesional">
							<h3 class="membership-slider__title">
								Профессиональное
							</h3>
							<p class="membership-slider__time">
								ежегодно
							</p>
							<button class="membership-slider__advantages">+ Возможности Базового</button>
							<ul class="membership-slider__list">
								<li class="membership-slider__item">
									Участие в закрытом чате членов общества уровня «Бизнес»;
								</li>
								<li class="membership-slider__item">
									Размещение информации и новостей о компании на площадках Политехнического общества;
								</li>
								<li class="membership-slider__item">
									Возможность предложить собственный проект для поиска спонсоров и поддержки Политехнического общества;
								</li>
								<li class="membership-slider__item">
									Участие в бизнес-мероприятиях Политехнического общества в онлайн и очном форматах;
								</li>
								<li class="membership-slider__item">
									Доступ к базе резюме выпускников на карьерной платформе Политехнического общества.
								</li>
							</ul>
							<button class="membership-slider__join btn btn-empty" data-fancybox data-src="#form-membership">Вступить</button>
						</div>
						<div class="swiper-slide membership-slider__card membership-slider__card--honorary">
							<h3 class="membership-slider__title">
								Партнёрское
							</h3>
							<p class="membership-slider__time">
								обсуждается индивидуально
							</p>
							<button class="membership-slider__advantages">+ Возможности профессионального</button>
							<ul class="membership-slider__list">
								<li class="membership-slider__item">
									Участие в закрытых мероприятиях Политехнического общества;
								</li>
								<li class="membership-slider__item">
									Право стать членом правления Политехнического общества выпускников МВТУ (МГТУ) им. Н.Э. Баумана;
								</li>
								<li class="membership-slider__item">
									Участие в закрытом чате почётных членов Политехнического общества.
								</li>
							</ul>
							<button class="membership-slider__join btn btn-empty" data-fancybox data-src="#form-membership">Вступить</button>
						</div>
						<div class="swiper-slide membership-slider__card membership-slider__card--gratuitous">
							<h3 class="membership-slider__title">
								Почётное
							</h3>
							<p class="membership-slider__time">
								по результатам заполненной анкеты
							</p>
							<button class="membership-slider__advantages">+ Возможности Базового</button>
							<ul class="membership-slider__list">
								<li class="membership-slider__item">
									Для тех, кто внёс значительный вклад в развитие технической науки, образования, технологий и деятельности Политехнического общества.
								</li>
							</ul>
							<button class="membership-slider__join btn btn-empty" data-fancybox data-src="#form-membership">Вступить</button>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /.membership -->
		<!-- news -->
		<section class="news">
			<div class="container">
				<h2 class="main-title news__title">
					Новости и события
				</h2>
				<div class="news__wrapper">
					<a href="#" class="news__card">
						<img src="img/news-img.png" alt="">
						<div class="news__content">
							<h3 class="news__card-title">
								Бауманский университет пилотирует создание Фонда целевого капитала.
							</h3>
							<div class="news__row">
								<p class="news__date">
									11.04.2025
								</p>
								<p class="news__time">
									25 мин
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="news__card">
						<img src="img/news-img.png" alt="">
						<div class="news__content">
							<h3 class="news__card-title">
								Бауманский университет пилотирует создание Фонда целевого капитала.
							</h3>
							<div class="news__row">
								<p class="news__date">
									11.04.2025
								</p>
								<p class="news__time">
									25 мин
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="news__card">
						<img src="img/news-img.png" alt="">
						<div class="news__content">
							<h3 class="news__card-title">
								Бауманский университет пилотирует создание Фонда целевого капитала.
							</h3>
							<div class="news__row">
								<p class="news__date">
									11.04.2025
								</p>
								<p class="news__time">
									25 мин
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="news__card">
						<img src="img/news-img.png" alt="">
						<div class="news__content">
							<h3 class="news__card-title">
								Бауманский университет пилотирует создание Фонда целевого капитала.
							</h3>
							<div class="news__row">
								<p class="news__date">
									11.04.2025
								</p>
								<p class="news__time">
									25 мин
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="news__card">
						<img src="img/news-img.png" alt="">
						<div class="news__content">
							<h3 class="news__card-title">
								Бауманский университет пилотирует создание Фонда целевого капитала.
							</h3>
							<div class="news__row">
								<p class="news__date">
									11.04.2025
								</p>
								<p class="news__time">
									25 мин
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="news__card">
						<img src="img/news-img.png" alt="">
						<div class="news__content">
							<h3 class="news__card-title">
								Бауманский университет пилотирует создание Фонда целевого капитала.
							</h3>
							<div class="news__row">
								<p class="news__date">
									11.04.2025
								</p>
								<p class="news__time">
									25 мин
								</p>
							</div>
						</div>
					</a>
				</div>
				<button class="btn news__btn btn-transparent">Все новости</button>
			</div>
			<!-- /.container -->
		</section>
		<!-- /.news -->
	</div><!-- /.site-wrapper -->
</main>
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<a href="mailto:info@bauman-polytech.ru" class="footer-mail">
				info@bauman-polytech.ru
			</a>
			<a href="#" class="footer-address">
				Москва, Бригадирский переулок, 13, 4 этаж, каб. 407
			</a>
			<p class="footer-name">
				Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
			</p>
			<ul class="footer-social">
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="52" height="52" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0.422184 29.988 10.5558 42 28.3222 42H29.3293V30.5645C35.8577 31.2052 40.7943 35.9139 42.7755 42H52C49.4666 32.9029 42.8079 27.8738 38.6505 25.9519C42.8079 23.5816 48.6543 17.8158 50.0509 10H41.6709C39.8521 16.3424 34.461 22.1081 29.3293 22.6526V10H20.9492V32.1661C15.7525 30.8849 9.19171 24.6707 8.89939 10H0Z" fill="black"/>
						</svg>
					</a>
				</li>
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_545_277)">
							<rect width="52" height="52" fill="white"/>
							<path d="M41.0367 15.4964L16.0377 29.2649C15.7715 29.4115 15.4679 29.4759 15.1651 29.4502L4.5008 28.5433C2.8828 28.4057 2.55392 26.1804 4.06293 25.5807L45.7164 9.02524C46.8393 8.57892 48.0148 9.542 47.7981 10.7308L41.9617 42.7517C41.7668 43.8211 40.5544 44.3566 39.6326 43.7803L24.0656 34.0479C23.2092 33.5126 23.0922 32.3114 23.8292 31.6208L41.0367 15.4964Z" fill="black"/>
							</g>
							<defs>
							<clipPath id="clip0_545_277">
							<rect width="52" height="52" fill="white"/>
							</clipPath>
							</defs>
						</svg>
					</a>
				</li>
			</ul>
			<div class="footer-list">
				<a href="#" target="_blank">
					Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
				</a>
				<a href="#" target="_blank">
					Политика обработки персональных данных
				</a>
				<a href="#" target="_blank">
					Согласие на обработку персональных данных
				</a>
			</div>
		</div>
	</footer>
		
	<div class="form-login" id="form-login" style="display:none;max-width:500px;">
		<input type="email" placeholder="Електропочта" required>
		<input type="password" placeholder="Пароль" required>
		<div class="form-login__row">
			<label class="checkbox-container">
				<input type="checkbox" id="rememberMe">
				<span class="checkmark"></span>
				Запомнить меня
			</label>
			<button class="form-login__lost">Я забыл пароль</button>
		</div>
		<div class="form-login__buttons">
			<button class="btn form-login__btn form-login__btn--sign">Войти</button>
			<button class="btn form-login__btn form-login__btn--register btn-empty">Зарегистрироваться</button>
		</div>
	</div>

	<!-- form-boards: модальные окна членов совета -->
	<div class="form-boards" id="board-modal-1" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-1.png" alt="Абакумов Евгений" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Абакумов Евгений Михайлович</h2>
				<p><strong>2003–2018 годы</strong> — ВНИИА им. Н.Л. Духова (входит в контур госкорпорации «Росатом»). Занимал должности инженера, инженера ІІ категории, инженера I категории, начальника группы, заместителя начальника конструкторского отдела, начальника отделения, начальника научно-исследовательского отделения, заместителя директора по информационным технологиям и системам управления.</p>
				<p><strong>2018–2020 годы</strong> — директор департамента информационных технологий госкорпорации «Росатом».</p>
				<p><strong>С 2020 года</strong> занимает должность директора по информационным технологиям госкорпорации «Росатом». Входит в состав экспертного совета по программному обеспечению при Минцифры.</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-2" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-2.png" alt="Нагайцев Максим" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Нагайцев Максим Валерьевич</h2>
				<p>Доктор технических наук</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-3" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-3.png" alt="Гордин Михаил" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Гордин Михаил Валерьевич</h2>
				<p>Ректор МГТУ им. Н.Э. Баумана. Кандидат технических наук</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-4" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-4.png" alt="Кондратьев Андрей" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Кондратьев Андрей Валерьевич</h2>
				<p>Генеральный директор АО «РТ-ФИНАНС», председатель совета директоров НОВИКОМа</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-5" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-5.png" alt="Майоров Игорь" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Майоров Игорь Николаевич</h2>
				<p>Генеральный директор METEOR Lift</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-6" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-6.png" alt="Фетисов Алексей" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Фетисов Алексей Вячеславович</h2>
				<p>Генеральный директор Холдинга Т1</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-7" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-7.png" alt="Федоров Алексей" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Федоров Алексей Константинович</h2>
				<p>Вице-Президент «Газпромбанк»</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-8" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-8.png" alt="Шелобков Алексей" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Шелобков Алексей Анатольевич</h2>
				<p>Генеральный директор ООО «Бюро 1440»</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-9" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-9.png" alt="Дабагов Анатолий" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Дабагов Анатолий Рудольфович</h2>
				<p>Кандидат технических наук, президент МТЛ</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-10" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-10.png" alt="Краснов Дмитрий" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Краснов Дмитрий Валерьевич</h2>
				<p>Кандидат технических наук, Председатель Правления Промышленной Группы «Приводная Техника»</p>
			</div>
		</div>
	</div>
	<div class="form-boards" id="board-modal-11" style="display:none;max-width:1100px;">
		<div class="form-boards__wrapper">
			<img src="img/board-img-11.png" alt="Пивень Валерий" class="form-boards__image">
			<div class="form-boards__content">
				<h2>Пивень Валерий Вячеславович</h2>
				<p>Директор департамента станкостроения и тяжелого машиностроения</p>
			</div>
		</div>
	</div>
	<!-- form-membership -->
	<div class="form-membership" id="form-membership" style="display:none;max-width: 90%;">
		<div class="form-membership__left">
			<img src="img/form-membership-basic.png" alt="">
			<p class="form-membership__text desk-block">
				Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
			</p> 
		</div>
		<form action="" class="form-membership__form">
			<input type="text" placeholder="Фамилия" required>
			<input type="text" placeholder="Имя" required>
			<input type="text" placeholder="Отчество" required>
			<input type="number" placeholder="Номер телефона" required>
			<input type="email" placeholder="Електропочта" required>
			<select name="Department" id="">
				<option value="">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
			</select>
			<input class="form-membership__year" type="text" placeholder="Год окончания МГТУ им. Баумана" required>
			<button class="btn form-membership__send">Оплатить членский взнос</button>
		</form>
		<p class="form-membership__text desk-none">
			Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
		</p> 
	</div>


	<script src="js/swiper-bundle.min.js"></script>
	<script src="js/fancybox.umd.js"></script>
	<script src="js/script.js"></script>
</body>
</html>