<main>
    <!-- banner-other -->
    <section class="banner-other banner-project-current">
        <div class="container">
            <div class="banner-other__wrapper banner-other__wrapper--current">
                <div class="banner-other__content">
                    <div class="banner-other__info banner-other__info--current">
                        <div class="banner-other__date">
                            <p class="banner-other__status">Активный</p>
                        </div>
                        <h1 class="banner-other__title main-title">
                            Реставрация ротонды
                        </h1>
                        <p class="banner-other__text main-text">
                            Проект по восстановлению исторической ротонды МГТУ им. Н.Э. Баумана — одного из символов университета. Ротонда является объектом культурного наследия и требует бережной реставрации.
                        </p>
                        <a href="/support/" class="btn" style="margin-top:24px;">Поддержать</a>
                    </div>
                    <img src="img/reference-page/banner-other-pattern.png" alt="" class="banner-other__pattern">
                </div>
                <img src="img/reference-page/banner-other-img.png" alt="" class="banner-other__image banner-other__image--current">
            </div>
        </div>
    </section>

    <section class="project-help">
        <div class="container">
            <h2 class="main-title project-help__title">Проекту необходима финансовая поддержка</h2>
            <p class="project-help__text main-text">
                Мы рады любой помощи вне зависимости от её размера. Для компаний желающих стать спонсорами либо участниками данного проекта - просим связаться с нами.
            </p>
            <button class="btn project-help__btn" data-fancybox data-src="#form-finance-help">Связаться с организаторами</button>
        </div>
    </section>

</main>