<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Политехническое Общество Выпускников</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/fancybox.css">
	<!-- style -->
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-wrapper">
				<a href="index.html" class="header-wrapper__logo desk-none">
					<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
				</a>
				<button class="header-wrapper__burger" aria-label="Открыть меню">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="header-wrapper__menu-mobile">
					<a href="index.html" class="header-wrapper__logo desk-block">
						<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
					</a>
					<nav>
						<ul class="header-wrapper__list">
							<li class="header-wrapper__item">
								<a href="index.html" target="_blank">
									Главная
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="initiatives.html" target="_blank">
									Инициативы
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="projects.html" target="_blank">
									Проекты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="news-page.html" target="_blank">
									События
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="about.html" target="_blank">
									О нас
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="contacts.html" target="_blank">
									Контакты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="reference.html" target="_blank">
									Референс-визиты
								</a>
							</li>
						</ul>
					</nav>
					<div class="header-wrapper__buttons">
						<a href="subscriptions.html" target="_blank" class="btn header-wrapper__btn header-wrapper--join">Вступить</a>
						<!-- <button class="btn header-wrapper__btn header-wrapper__btn--sign btn-empty" data-fancybox data-src="#form-login">Войти</button> -->
					</div>
				</div>				
			</div>
		</div>
	</header>
	<main>
        <!-- banner-other -->
		<section class="banner-other banner-project-current">
            <div class="container">
                <div class="banner-other__wrapper banner-other__wrapper--current">
                    <div class="banner-other__content">
                        <div class="banner-other__info banner-other__info--current">
                            <div class="banner-other__date banner-other__date--column">
                                <p class="banner-other__status">Активный</p>
                                <p class="banner-other__time">Новый Кампус МГТУ им. Н.Э. Баумана</p>
                                <p class="banner-other__time">18 апреля 2026 года</p>
                                <p class="banner-other__time">10:00-17:00</p>
                            </div>
                            <h1 class="banner-other__title main-title">
                                Конференция Встреча выпускников
                            </h1>
                            <p class="banner-other__text main-text">
                                Информационная экосистема общества будет включать себя сайт, сообщество и бота в Telegram. Мы ищем контакты для сотрудничества в рамках проведения мероприятия — добавить через форму обращения на почту info@bauman-polyteh.ru.
                            </p>
                            <a href="support.html" class="btn">Поддержать</a>
                        </div>
                        <img src="img/reference-page/banner-other-pattern.png" alt="" class="banner-other__pattern">
                    </div>
                    <img src="img/reference-page/banner-other-img-2.png" alt="" class="banner-other__image banner-other__image--current">
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.banner-other -->
            <section class="project-help">
                <div class="container">
                    <h2 class="main-title project-help__title">Проекту необходима финансовая поддержка</h2>
                    <p class="project-help__text main-text">
                        Мы рады любой помощи вне зависимости от её размера. Для компаний желающими стать спонсорами данного мероприятия - готовы направить спонсорский пакет.
                    </p>
                    <button class="btn project-help__btn" data-fancybox data-src="#form-finance-help">Связаться с организаторами</button>
                </div>
            </section>

            <section class="key-figures">
                <div class="container">
                    <div class="key-figures__wrapper">
                        <h2 class="key-figures__title main-title">Ключевые цифры:</h2>
                        <div class="key-figures__statistics">
                            <h3 class="main-title">
                                5 000+
                            </h3>
                            <p>
                                участников ежегодно
                            </p>
                            <h3 class="main-title">
                                10 000+
                            </h3>
                            <p>
                                охват аудитории в соцсетях и СМИ
                            </p>
                            <h3 class="main-title">
                                25+
                            </h3>
                            <p>
                                активностей и площадок в рамках встречи
                            </p>
                        </div>
                        <div class="key-figures__audience">
                            <h3>
                                Целевая аудитория: 
                            </h3>
                            <ul class="key-figures__list">
                                <li class="key-figures__item">
                                    Выпускники разных лет
                                </li>
                                <li class="key-figures__item">
                                    Представители партнёрских компаний и индустриальных заказчиков
                                </li>
                                <li class="key-figures__item">
                                    Конструкторские бюро и НОЦы МГТУ им. Н.Э. Баумана
                                </li>
                                <li class="key-figures__item">
                                    Студенты старших курсов
                                </li>
                                <li class="key-figures__item">
                                    А также: делегации и члены сообщества выпускников МГТУ из стран СНГ: Казахстан, Узбекистан и т.д.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-help project-help--meets">
                <div class="container">
                    <h2 class="main-title project-help__title">Концепция Встречи Выпускников 2026</h2>
                    <p class="project-help__text main-text">
                       Ежегодная встреча выпускников МГТУ им. Н.Э. Баумана — знаковое событие, объединяющее прошлое, настоящее и будущее университета. Программа мероприятия сочетает официальную часть с деловыми акцентами и неформальное общение, где переплетаются ностальгия по студенческим годам и новые профессиональные горизонты. 
                        <br><br>
                        Это традиция, ставшая ярким и запоминающимся событием в жизни каждого выпускника-бауманца.
                    </p>
                </div>
            </section>

            <section class="project-part">
                <div class="container">
                    <div class="project-part__list">
                        <div class="project-part__item">
                            <div>
                                <h3>
                                    Торжественная часть
                                </h3>
                                <ul>
                                    <li>
                                        Официальное открытие мероприятия руководством ВУЗа и значимыми выпускниками
                                    </li>
                                    <li>
                                        Выступление ректора
                                    </li>
                                    <li>
                                        Запуск фонтана
                                    </li>
                                </ul>
                            </div>
                            <img src="img/projects-page/project-part-1.png" alt="">
                        </div>
                        <div class="project-part__item">
                            <div>
                                <h3>
                                    Образовательная часть
                                </h3>
                                <ul>
                                    <li>
                                        Практические мастер‑классы для выпускников
                                    </li>
                                    <li>
                                        Мастер‑классы от спонсоров и партнеров для детей выпускников
                                    </li>
                                    <li>
                                        Панельные дискуссии со студенческими бюро о трендах в инженерии и IT
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h3>
                                    Нетворкинг и экскурсии
                                </h3>
                                <ul>
                                    <li>
                                        Карьерный блок
                                    </li>
                                    <li>
                                        Научпоп блок
                                    </li>
                                    <li>
                                        Стенды партнёрских компаний 
                                    </li>
                                    <li>
                                        Зоны неформального общения
                                    </li>
                                    <li>
                                        Экскурсии по старым и новым корпусам университета
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-part__item">
                            <img src="img/projects-page/project-part-2.png" alt="">
                            <div>
                                <h3>
                                    Культурно‑развлекательная программа
                                </h3>
                                <ul>
                                    <li>
                                        Квиз
                                    </li>
                                    <li>
                                        Шахматный турнир
                                    </li>
                                    <li>
                                        Выставка студенческих проектов
                                    </li>
                                    <li>
                                        Фотозоны с атрибутикой МГТУ
                                    </li>
                                    <li>
                                        Концерт/живая музыка
                                    </li>
                                    <li>
                                        Встречи на кафедрах
                                    </li>
                                </ul>
                            </div>                           
                        </div>
                    </div>
                </div>
            </section>

            <div class="button-help">
                <a href="support.html" class="btn project-polytech__btn">Поддержать</a>
            </div>
        
                
	</main>
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<a href="mailto:info@bauman-polytech.ru" class="footer-mail">
				info@bauman-polytech.ru
			</a>
			<a href="#" class="footer-address">
				Москва, Бригадирский переулок, 13, 4 этаж, каб. 407
			</a>
			<p class="footer-name">
				Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
			</p>
			<ul class="footer-social">
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="52" height="52" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0.422184 29.988 10.5558 42 28.3222 42H29.3293V30.5645C35.8577 31.2052 40.7943 35.9139 42.7755 42H52C49.4666 32.9029 42.8079 27.8738 38.6505 25.9519C42.8079 23.5816 48.6543 17.8158 50.0509 10H41.6709C39.8521 16.3424 34.461 22.1081 29.3293 22.6526V10H20.9492V32.1661C15.7525 30.8849 9.19171 24.6707 8.89939 10H0Z" fill="black"/>
						</svg>
					</a>
				</li>
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_545_277)">
							<rect width="52" height="52" fill="white"/>
							<path d="M41.0367 15.4964L16.0377 29.2649C15.7715 29.4115 15.4679 29.4759 15.1651 29.4502L4.5008 28.5433C2.8828 28.4057 2.55392 26.1804 4.06293 25.5807L45.7164 9.02524C46.8393 8.57892 48.0148 9.542 47.7981 10.7308L41.9617 42.7517C41.7668 43.8211 40.5544 44.3566 39.6326 43.7803L24.0656 34.0479C23.2092 33.5126 23.0922 32.3114 23.8292 31.6208L41.0367 15.4964Z" fill="black"/>
							</g>
							<defs>
							<clipPath id="clip0_545_277">
							<rect width="52" height="52" fill="white"/>
							</clipPath>
							</defs>
						</svg>
					</a>
				</li>
			</ul>
			<div class="footer-list">
				<a href="#" target="_blank">
					Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
				</a>
				<a href="#" target="_blank">
					Политика обработки персональных данных
				</a>
				<a href="#" target="_blank">
					Согласие на обработку персональных данных
				</a>
			</div>
		</div>
	</footer>
		
	<div class="form-finance-help" id="form-finance-help" style="display:none;max-width:1440px;">
        <h2 class="main-title">Связаться с организаторами</h2>
		<input type="email" placeholder="Електропочта" required>
		<input type="password" placeholder="Пароль" required>
        <textarea name="" id="" placeholder="Письмо"></textarea>
        <div class="join__politic-question">
            <p class="join__politic-link">
                Согласен с <a href="#">политикой обработки ПДн</a>
            </p>
            <div class="account__graduate-choice">
                <label class="account__graduate-item">
                    <input type="radio" name="subscribe" value="yes" class="account__graduate-input">
                    <span class="account__graduate-box"></span>
                    Да
                </label>

                <label class="account__graduate-item">
                    <input type="radio" name="subscribe" value="no" class="account__graduate-input">
                    <span class="account__graduate-box"></span>
                    Нет
                </label>
            </div>
        </div>   
        <button class="btn form-finance-help__btn">Отправить</button>
	</div>
	<div class="form-login" id="form-login" style="display:none;max-width:500px;">
		<input type="email" placeholder="Електропочта" required>
		<input type="password" placeholder="Пароль" required>
		<div class="form-login__row">
			<label class="checkbox-container">
				<input type="checkbox" id="rememberMe">
				<span class="checkmark"></span>
				Запомнить меня
			</label>
			<button class="form-login__lost">Я забыл пароль</button>
		</div>
		<div class="form-login__buttons">
			<button class="btn form-login__btn form-login__btn--sign">Войти</button>
			<button class="btn form-login__btn form-login__btn--register btn-empty">Зарегистрироваться</button>
		</div>
	</div>

    <!-- form-membership -->
	<div class="form-membership" id="form-membership" style="display:none;max-width: 90%;">
		<div class="form-membership__left">
			<img src="img/form-membership-basic.png" alt="">
			<p class="form-membership__text desk-block">
				Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
			</p> 
		</div>
		<form action="" class="form-membership__form">
			<input type="text" placeholder="Фамилия" required>
			<input type="text" placeholder="Имя" required>
			<input type="text" placeholder="Отчество" required>
			<input type="number" placeholder="Номер телефона" required>
			<input type="email" placeholder="Електропочта" required>
			<select name="Department" id="">
				<option value="">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
			</select>
			<input class="form-membership__year" type="text" placeholder="Год окончания МГТУ им. Баумана" required>
			<button class="btn form-membership__send">Оплатить членский взнос</button>
		</form>
		<p class="form-membership__text desk-none">
			Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
		</p> 
	</div>


	<script src="js/swiper-bundle.min.js"></script>
	<script src="js/fancybox.umd.js"></script>
	<script src="js/script.js"></script>
</body>
</html>