<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Политехническое Общество Выпускников</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/fancybox.css">
	<!-- style -->
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-wrapper">
				<a href="index.html" class="header-wrapper__logo desk-none">
					<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
				</a>
				<button class="header-wrapper__burger" aria-label="Открыть меню">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="header-wrapper__menu-mobile">
					<a href="index.html" class="header-wrapper__logo desk-block">
						<img src="img/logo-header.png" alt="Политехническое Общество Выпускников">
					</a>
					<nav>
						<ul class="header-wrapper__list">
							<li class="header-wrapper__item">
								<a href="index.html" target="_blank">
									Главная
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="initiatives.html" target="_blank">
									Инициативы
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="projects.html" target="_blank">
									Проекты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="news-page.html" target="_blank">
									События
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="about.html" target="_blank">
									О нас
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="contacts.html" target="_blank">
									Контакты
								</a>
							</li>
							<li class="header-wrapper__item">
								<a href="reference.html" target="_blank">
									Референс-визиты
								</a>
							</li>
						</ul>
					</nav>
					<div class="header-wrapper__buttons">
						<a href="subscriptions.html" target="_blank" class="btn header-wrapper__btn header-wrapper--join">Вступить</a>
						<!-- <button class="btn header-wrapper__btn header-wrapper__btn--sign btn-empty" data-fancybox data-src="#form-login">Войти</button> -->
					</div>
				</div>				
			</div>
		</div>
	</header>
	<main>
        <!-- banner-other -->
		<section class="banner-other banner-project-current">
            <div class="container">
                <div class="banner-other__wrapper banner-other__wrapper--current">
                    <div class="banner-other__content">
                        <div class="banner-other__info banner-other__info--current">
                            <div class="banner-other__date banner-other__date--column">
                                <p class="banner-other__status">Активный</p>
                            </div>
                            <h1 class="banner-other__title main-title">
                                Реставрации Ротонды:
                            </h1>
                            <p class="banner-other__text main-text">
                               Реставрация родной для всех бауманцев Ротонды с Пеликаном. <br>
                                Мы ищем контакты для сотрудничества в рамках проведения мероприятия — добавить через форму обращения на почту info@bauman-polyteh.ru.
                            </p>
                            <a href="support.html" class="btn">Поддержать</a>
                        </div>
                        <img src="img/reference-page/banner-other-pattern.png" alt="" class="banner-other__pattern">
                    </div>
                    <img src="img/reference-page/banner-other-img-4.png" alt="" class="banner-other__image banner-other__image--current">
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.banner-other -->
        <section class="project-help">
            <div class="container">
                <h2 class="main-title project-help__title">Проекту необходима финансовая поддержка</h2>
                <p class="project-help__text main-text">
                    Мы рады любой помощи вне зависимости от её размера. Для компаний желающими стать спонсорами данного мероприятия - готовы направить спонсорский пакет.
                </p>
                <button class="btn project-help__btn" data-fancybox data-src="#form-finance-help">Связаться с организаторами</button>
            </div>
        </section>

        <section class="project-row">
            <div class="container">
                <div class="project-row__wrapper">
                    <div class="project-row__image">
                        <img src="img/projects-page/project-row-img.png" alt="">
                    </div>
                    <div class="project-row__content">
                        <p>
                            Ротонда — это памятник, расположенный на территории МГТУ им. Н. Э. Баумана. Она была возведена к 175-летию университета в качестве подарка от выпускников. В её центре стоит скульптура пеликана, изготовленная академиком А. Н. Бургановым.
                        </p>
                        <p>
                            На текущий момент ротонда нуждается в реставрации. Политехническое общество ищет выпускников, готовых помочь как и финансами, так и знаниями, необходимыми для составления плана реставрационных работ, сметы и поиска подходящих исполнителей.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="project-gallery">
            <div class="container">
                <div class="project-gallery__arrows">
                    <h2 class="main-title project-gallery__title">
                        Галерея
                    </h2>
                    <div class="project-gallery__arrows-row">
                        <div class="gallery-button-prev">
                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 1L1 11L11 21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="gallery-button-next">
                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 21L11 11L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="swiper project-gallery__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/projects-page/project-gallery-img-1.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/projects-page/project-gallery-img-2.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/projects-page/project-gallery-img-3.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/projects-page/project-gallery-img-4.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/projects-page/project-gallery-img-1.png" alt=""></div>
                    <div class="swiper-slide"><img src="img/projects-page/project-gallery-img-2.png" alt=""></div>
                </div>
            </div>
        </section>

        <div class="button-help">
            <a href="support.html" class="btn project-polytech__btn">Поддержать</a>
        </div>
                
	</main>
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<a href="mailto:info@bauman-polytech.ru" class="footer-mail">
				info@bauman-polytech.ru
			</a>
			<a href="#" class="footer-address">
				Москва, Бригадирский переулок, 13, 4 этаж, каб. 407
			</a>
			<p class="footer-name">
				Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
			</p>
			<ul class="footer-social">
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="52" height="52" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0.422184 29.988 10.5558 42 28.3222 42H29.3293V30.5645C35.8577 31.2052 40.7943 35.9139 42.7755 42H52C49.4666 32.9029 42.8079 27.8738 38.6505 25.9519C42.8079 23.5816 48.6543 17.8158 50.0509 10H41.6709C39.8521 16.3424 34.461 22.1081 29.3293 22.6526V10H20.9492V32.1661C15.7525 30.8849 9.19171 24.6707 8.89939 10H0Z" fill="black"/>
						</svg>
					</a>
				</li>
				<li class="footer-social__item">					
					<a href="#" target="_blank">
						<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_545_277)">
							<rect width="52" height="52" fill="white"/>
							<path d="M41.0367 15.4964L16.0377 29.2649C15.7715 29.4115 15.4679 29.4759 15.1651 29.4502L4.5008 28.5433C2.8828 28.4057 2.55392 26.1804 4.06293 25.5807L45.7164 9.02524C46.8393 8.57892 48.0148 9.542 47.7981 10.7308L41.9617 42.7517C41.7668 43.8211 40.5544 44.3566 39.6326 43.7803L24.0656 34.0479C23.2092 33.5126 23.0922 32.3114 23.8292 31.6208L41.0367 15.4964Z" fill="black"/>
							</g>
							<defs>
							<clipPath id="clip0_545_277">
							<rect width="52" height="52" fill="white"/>
							</clipPath>
							</defs>
						</svg>
					</a>
				</li>
			</ul>
			<div class="footer-list">
				<a href="#" target="_blank">
					Политехническое Общество Выпускников МВТУ (МГТУ) им. Н.Э. Баумана
				</a>
				<a href="#" target="_blank">
					Политика обработки персональных данных
				</a>
				<a href="#" target="_blank">
					Согласие на обработку персональных данных
				</a>
			</div>
		</div>
	</footer>
		
	<div class="form-finance-help" id="form-finance-help" style="display:none;max-width:1440px;">
        <h2 class="main-title">Связаться с организаторами</h2>
		<input type="email" placeholder="Електропочта" required>
		<input type="password" placeholder="Пароль" required>
        <textarea name="" id="" placeholder="Письмо"></textarea>
        <div class="join__politic-question">
            <p class="join__politic-link">
                Согласен с <a href="#">политикой обработки ПДн</a>
            </p>
            <div class="account__graduate-choice">
                <label class="account__graduate-item">
                    <input type="radio" name="subscribe" value="yes" class="account__graduate-input">
                    <span class="account__graduate-box"></span>
                    Да
                </label>

                <label class="account__graduate-item">
                    <input type="radio" name="subscribe" value="no" class="account__graduate-input">
                    <span class="account__graduate-box"></span>
                    Нет
                </label>
            </div>
        </div>   
        <button class="btn form-finance-help__btn">Отправить</button>
	</div>
	<div class="form-login" id="form-login" style="display:none;max-width:500px;">
		<input type="email" placeholder="Електропочта" required>
		<input type="password" placeholder="Пароль" required>
		<div class="form-login__row">
			<label class="checkbox-container">
				<input type="checkbox" id="rememberMe">
				<span class="checkmark"></span>
				Запомнить меня
			</label>
			<button class="form-login__lost">Я забыл пароль</button>
		</div>
		<div class="form-login__buttons">
			<button class="btn form-login__btn form-login__btn--sign">Войти</button>
			<button class="btn form-login__btn form-login__btn--register btn-empty">Зарегистрироваться</button>
		</div>
	</div>

    <!-- form-membership -->
	<div class="form-membership" id="form-membership" style="display:none;max-width: 90%;">
		<div class="form-membership__left">
			<img src="img/form-membership-basic.png" alt="">
			<p class="form-membership__text desk-block">
				Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
			</p> 
		</div>
		<form action="" class="form-membership__form">
			<input type="text" placeholder="Фамилия" required>
			<input type="text" placeholder="Имя" required>
			<input type="text" placeholder="Отчество" required>
			<input type="number" placeholder="Номер телефона" required>
			<input type="email" placeholder="Електропочта" required>
			<select name="Department" id="">
				<option value="">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
				<option value="Кафедра">Кафедра</option>
			</select>
			<input class="form-membership__year" type="text" placeholder="Год окончания МГТУ им. Баумана" required>
			<button class="btn form-membership__send">Оплатить членский взнос</button>
		</form>
		<p class="form-membership__text desk-none">
			Нажимая кнопку «Оплатить членский взнос» вы даете свое согласие на <a href="#">обработку персональных данных</a>, а также с тем, что вам исполнилось 18 лет, вы студент или выпускник МГТУ им. Н.Э. Баумана, вы разделяете <a href="#">цели Политехнического общества</a>, признаёте его <a href="#">Устав</a> и подтверждаете свое добровольное согласие на вступление в «МГТУ-Политех»
		</p> 
	</div>


	<script src="js/swiper-bundle.min.js"></script>
	<script src="js/fancybox.umd.js"></script>
	<script src="js/script.js"></script>
</body>
</html>